<!DOCTYPE html>

<html>

<head>
<% include partials/header %>
</head>

<body>

  <div id="map"></div>

  <div class="container-fluid">

    <div class="page-header shadow">
      <h1>HSL Citybikes</h1>
    </div>

    <div class="row">
      <div class="col-sm-3 shadow">
        <label for="from">From: </label>
        <input type="text" class="form-control" id="from" onkeypress="findStartLocation()">
        <label for="to">To: </label>
        <input type="text" class="form-control" id="to" onkeypress="findEndLocation()">
        <button type="button" class="btn btn-primary" onclick="calculateRoute()">Calculate route</button>
      </div>
    </div>
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr1rgLI8ffwjQn8A1AYSsFs2NIJFlT_XQ&callback=initMap">
  </script>

</body>


</html>
